<% provide(:title, "Home")  %>
<% if logged_in? %>
  <section class="user_info">
    <%= render 'shared/user_info' %>
  </section>
  <div class="create-post">
    <%= render 'shared/post_form' %>
  </div>
  <div class="feed">
    <%= render 'shared/feed'%>
  </div>
<% else %>
  <p>Oops, check back for a real home page</p>
<% end %>
