<% provide(:title, @user.name) %>
<div class="sidebar">
  <div class="user_info">
    <h1>
      <%= @user.name %>
    </h1>
  </div>
  <div class="blog-posts">
    <% if @user.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
